@import "tailwindcss";

/* Cache la barre de bannière de Google */
.goog-te-banner-frame {
  display: none !important;
}

.goog-te-balloon-frame {
  display: none !important;
}

body {
  top: 0 !important;
}

.skiptranslate {
  display: none !important;
}

iframe.goog-te-banner-frame {
  display: none !important;
}
